 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Software Engineer and have been conducting research professionally since 2012 in areas ranging from cable video applications to and network security. I received a Bachelor of Software Engineering from Auburn University and a Master of Science in Information Security with a Systems specialization from Georgia Institute of Technology. While completing my education, I worked at Cox Communications on their Product Engineering Video team.</p>
                </div>
                <div class="col-lg-4">
                    <p>One of my biggest aspirations is to produce innovative security research and technologies to help people understand how they can be more secure. Another goal is to learn about developing secure and usable applications.<br><br><br>On this page, you’ll find a portfolio of my current projects and achievements, as well as <a href="https://docs.google.com/document/d/1GMQErZ-_e-e_MyrJzxUZCiKRDgTiMQhmfdjN0bNaEy4/edit?usp=sharing" style="color:blue">my resume</a>.</p>
                </div>
            </div>
        </div>
    </section>
